@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --background-color: #FF7A7A;
    --background-overlay: rgba(125, 125, 125, 0.057);
    --white-color: #ffffff;
    --purple-card: #6055A5;
    --paragraph-text-color: #ffffffcb;
    --border-color: #DEDEDE;
    --border-color-active: #5E54A4;
    --btn-bg: #38CC8C;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100dvh;
    width: 100%;
    /* Remove it or chnage it */
 font-family: "Poppins", sans-serif;
}

.overlay{
    width: 100%;
    height: 100vh ;
    background-color: var(--background-color);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/bg-intro-desktop.png');
}
.container{
    width: 100%;
    height: 100%;
    background-color: var(--background-overlay);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 80%;
    /* change it later */
    min-width: 600px;
    max-width: 1110px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.textarea{
    flex: 1;
    color: var(--white-color);
}
.textarea h1{
    font-size: 50px;
    line-height: 3.5rem;
    margin-bottom: 0.8rem;
    letter-spacing: -0.5px;
    font-weight: 700;
    padding: 20px;
    padding-left: 0px;
}
.textarea p{
    color: var(--paragraph-text-color);
    font-weight: 500;
}

.input_area{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 0 50px;
}
.plan_meesage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple-card);
    color: var(--white-color);
    padding: 20px 50px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 15px;
    box-shadow: 0 8px 0 rgba(0,0,0,.15);
}

.plan_meesage span{
    font-weight: 700;
}

.input_box{
    flex: 1;
    background-color: var(--white-color);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 0 rgba(0,0,0,.15);
}

.input{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.input form{
     width: 100%;
}

.input_child{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2px;
    position: relative;
    overflow: hidden;
}

.input_child:first-child{
    margin-top: 0px;
}
.input_child img{
    position: absolute;
       top: 50%;
    right: 20px;
       transform: translateY(-50%);
        width: 24px;
    height: 24px;
}
#password_protection{
    right: 50px;
}

.password_strength{
    margin-top: 10px;
    height: 80px;
}


.password_S_progress{
    visibility: hidden;
    width: 100%;
    height: 5px;
    margin: 10px auto;
    background-color: #E8E6F7;
    border-radius: 999px;
     position: relative;
    overflow: hidden;
    }

.password_S_progress::after{
    content: '';
    position: absolute;
     left:0;
    top:0;
    width: 30%;
    height: 100%;
    border-radius: 999px;
    animation: border;
    border-radius:inherit;
    width: var(--progress);
    background: var(--gradient);
    transition: width .50s ease, background .45s ease;
    transition: all .5s ease-in-out;
}

.progress_complete{
    animation: progressPulse 1.5s ease-in-out infinite;
}

@keyframes progressPulse{

    0%{
        box-shadow:0 0 0px rgba(56,204,140,.0);
    }

    50%{
        box-shadow:
        0 0 5px rgba(56,204,140,.45),
        0 0 5px rgba(56,204,140,.30),
        0 0 5px rgba(56,204,140,.15);
    }

    100%{
        box-shadow:0 0 0px rgba(56,204,140,.0);
    }

}

.pass_requirement{
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.pass_requirement ul li{
        list-style-type: none;
    font-size: 10px;
    color: #7A7A8C;
    font-weight: 400;
    }

    /* All for js it work when we call */

.on_pass_focus{
    color: #6055A5 !important;
    font-weight: 500 !important;
}    

.on_pass_fullfil{
    color: #38CC8C !important;
    font-weight: 700 !important;
}

.on_pass_error{
    color: #FF7A7A !important;
    font-weight: 700 !important;
}

.input input{
    width: 100%;
    height: 56px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
     padding-left: 30px;
    padding-right: 55px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transition: all .3s ease-in-out;
}
.input input:focus{
    border: 1.5px solid var(--border-color-active);
    outline: none;
}

.input input::placeholder{
    font-weight: 600;
    color: #B9B6D3;
    transition: all 0.5s ease-in-out;
}
.input input:focus::placeholder{
    transform: translateY(-50px);
    opacity: 0;
}

.input input[type=submit]{
    height: 56px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: var(--btn-bg);
    color: var(--white-color);
    border-radius: 5px;
    outline: none;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1rem;
    border: none;
    box-shadow: 0 4px 0 #2FB67B;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}
.input input[type=submit]:hover{
    background-color: #77E2B4;
}

#terms_condition{
    font-size: 11px;
    font-weight: 500;
    color: #BAB7D4;
}   
#terms_condition a{
    color: #FF7A7A;
    font-weight: 700;
    text-decoration: none;
}
.error{
    display: block;
    font-size: 11px;
    font-weight: 500;
    font-style: italic;
    color: #FF7A7A;
    text-align: right;
    width: 100%;
    margin-top: 7px;
}
.block{
    display: none !important;
}
.error_border{
    transition: none !important;
    border: 2px solid red !important;
}
input.email_error_color::placeholder{
    color: #ff8c8c;
    font-weight: 800;
}

@media (max-width: 1300px){
    .box{
        width: 100%;
    }
    .textarea{
        padding-left: 2vw;
    }
}
@media (max-width: 769px) {
    .overlay{
        height: auto;
        padding-bottom: 10vh;
    }
    .box{
        padding-top: 10vh;
        flex-direction: column;
        gap: 5rem;
    }
    .textarea{
        width: 50%;
        text-align: center;
    }
    .input_area{
        width: 80%;
    }
}
@media (max-width: 700px) {
    .overlay{
    background-image: url('images/bg-intro-mobile.png');
    }
    .box{
        min-width: 0px;
    }
    .textarea{
        width: 90%;
        font-size: 15px;
    }
    .textarea h1{
        font-size: 35px;
    }
    .input_area{
        width: 100%;
        padding: 0 20px;
    }
    .plan_meesage{
        font-size: 0.8rem;
        padding: 20px 30px;
    }
    .input_box{
        padding: 30px;
    }
    #terms_condition{
        font-size: 9px;
    }
    
}

footer{
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
} 
footer a{
    text-decoration: none;
}